.tone-holder {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 2px;
}

.tone-holder .ripple {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    transform: scale(0);
}

.tone-holder .ripple.huzzar {
    opacity: 0; 
    transform: scale(8);
    transition: all 0.5s;
}
.tone-holder .note {
    background-color: transparent;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    transition: all 0.1s;
}
.tone-holder .note.active {
    background-color: #FFF;
    box-shadow: 0 0 5px #FFF;
}


@-webkit-keyframes line {
    0% {
      background: var(--color-0);
    }
    30% {
      background: var(--color-1);
    }
  }
@keyframes line {
    0% {
        background: var(--color-0);
      }
      30% {
        background: var(--color-1);
      }
}
@-webkit-keyframes pulse {
    40% {
      background: #FCD7D6;
    }
}
@keyframes pulse {
    40% {
      background: #FCD7D6;
    }
  }