.sx-main-page {
    background-color: rgba(0, 19, 43, 1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .sx-main-page-content {
        height: 100%;
        display: flex;
        flex: 1;
        align-items: stretch;
        overflow: hidden;
        .content {
            flex: 1;
            display: flex;
            gap: 16px;
            justify-items: stretch;
            overflow: hidden;
            .left {
                width: 380px;
                gap: 16px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }
            .center {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 16px;
                overflow: hidden;
                align-items: stretch;
                .metric-list {
                    margin: 16px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .toggle-button {
            width: 16px;
            align-self: center;
        }
        .side {
            width: 419px;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            position: relative;
            /* border: 1px solid rgba(12, 93, 132, 1); */

            border-top: 1px solid rgba(12, 93, 132, 1);
            /* 左边框渐变 */
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 1px; /* 边框宽度 */
                height: 100%;
                background: linear-gradient(180deg, rgba(12, 93, 132, 1), rgba(3, 21, 30, 1))
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 1px; /* 边框宽度 */
                height: 100%;
                background: linear-gradient(180deg, rgba(12, 93, 132, 1), rgba(3, 21, 30, 1))
            }
            >.sx-section-box {
                flex: 1;
                overflow: hidden;
            }
            /* .radius {
                background: rgba(12,93,132,0.1);
                border: 1px solid;
                border-image: linear-gradient(180deg, rgba(12, 93, 132, 1), rgba(3, 21, 30, 1)) 1 1;
            } */

        }
    }
}

.device-situation {
    display: flex;
    padding: 16px;
    gap: 16px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.reginal-data-quality {
    height: 100%;;
    padding: 16px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    .toolbar {
        display: flex;
        gap: 8px;
    }
    .table-container {
        flex: 1;
        display: flex;
        align-items: stretch;
        height: 100%;
        flex-direction: row;
        overflow: hidden;

        .slider-img {
            align-self: flex-end;
        }
        .ant-table-cell-scrollbar {
            display: none;
        }

        .quality-table {
            overflow: hidden;

            .hot-cell {
                border: 1px solid transparent;
                color: #fff;
                font-size: 14px;
                height: 26px;
                line-height: 26px;
                cursor: pointer;
                z-index: 1;
                &:hover {
                    border: 1px solid #fff;
                }
            }
        }
        .ant-table {
            background: transparent;
            .ant-table-column-sorter-up:not(.active) {
                color: #1A4594;
            }
            .ant-table-column-sorter-down:not(.active) {
                color: #1A4594;
            }
            .ant-table-thead tr th {
                background-color: transparent!important;
                border-bottom: none;
                padding: 15px;
                color: #65BBE8;
                font-size: 14px;
                font-style: normal;
                &:before {
                    display: none;
                }
            }
            .column-name {
                color: #65BBE8;
            }
            td.ant-table-cell {
                padding: 1px;
                border-bottom: none;
                text-align: center;
            }
        }
    }
}


.farm-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    justify-content: space-between;
    .farm-item {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        .farm-rank {
            font-size: 24px;
            width: 48px;
            color: #FFFFFF;
            text-shadow: 0px 0px 4px rgba(0,30,81,0.8);
            text-align: center;
        }
        .farm-name {
            width: 110px;
              /* 2. 强制文字在一行显示（核心） */
              margin-left: 32px;
            white-space: nowrap;
            /* 3. 溢出内容隐藏 */
            overflow: hidden;
            /* 4. 溢出部分显示省略号 */
            text-overflow: ellipsis;
            /* 可选：添加边框，方便查看容器范围 */
            font-size: 18px;
            text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
            color: #FFFFFF;
        }
        .farm-progress {
            width: 116px;
        }
        .farm-value {
            margin-left: 10px;
            color: #00F0FF;
            font-size: 22px;
        }
    }
}

.mom-comparison {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    .position {
        display: flex;
        gap: 8px;
    }
    .mom-table {
        flex: 1;
        overflow: hidden;
    }
}


.global-popover-quality {
    position: absolute;
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 180px;
    height: 98px;
    padding: 8px 12px;

    .name {
        font-size: 14px;
        color: #FFFFFF;
    }
    .values {
        color: #FFFFFF;
        display: flex;
        height: 48px;
        align-items: center;
        gap: 4px;
        .box {
            width: 12px;
            height: 12px;
        }
        .value {
            margin-left: auto;
            font-size: 14px;
            color: #00F0FF;
        }
    }
    .actions {
        text-align: right;
    }
}