

.clock__block--bounce {
	animation: bounce 0.75s; 
}

.clock__block {
	overflow: hidden;
}

.clock__digit-group {
    display: flex;
	height: 200%;
    flex-direction: column;
}

.clock__digits {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock__block--bounce .clock__digit-group {
	animation: roll 0.75s ease-in-out forwards; 
	transform: translateY(-50%);
}

/* Animations */
@keyframes bounce {
	from,
	to {
		animation-timing-function: ease-in;
		transform: translateY(0);
	}
	50% {
		animation-timing-function: ease-out;
		transform: translateY(15%);
	}
}
@keyframes roll {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: translateY(0);
	}
}
