.switch-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}


.switch-container .content-wrapper {
    position: absolute;
    left: 0;
    top: 0
}

.switch-container .content-wrapper .state-content {
    position: absolute;
}