.legend-metric {
    .legend {
        display: flex;
        gap: 6px;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 6px;
        .legend-box {
            width: 12px;
            height: 12px;
            background: #00AAFF;
            border-radius: 2px;
            &.yellow {
                background: #F6BD16;
            }
        }
        .legend-title {
            font-size: 14px;
            color: #B6B6B6;
            line-height: 17px;
            text-align: left;
            font-style: normal;
        }
    }
    .label-value {
        display: flex;
        gap: 10px;
        .sx-label {
            font-weight: normal;
            font-size: 20px;
            color: #00F0FF;
            line-height: 23px;
            text-align: left;
            font-style: normal;
        }
        .sx-tag {
            height: 24px;
            background: rgba(26,93,148,0.2);
            border-radius: 12px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            gap: 4px;
            .sx-tag-value {
                font-weight: normal;
                font-size: 14px;
                color: #00F0FF;
                line-height: 17px;
            }
            .sx-tag-unit {
                font-weight: normal;
                font-size: 14px;
                color: #B6B6B6;
                line-height: 17px;
                text-align: left;
                font-style: normal;
            }
        }
    }
}
