html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

:focus-visible {
  outline: none;
}

.ridge-composite {
    position: relative;
    .ridge-runtime-hidden {
        display: none;
    }
    &.is-edit {
        .ridge-runtime-hidden {
            display: initial;
        }
    }
}

.ridge-composite > .ridge-element {
    position: absolute;
    left: 0;
    top: 0;
}
.ridge-portalled {
    display: none;
}

.ridge-is-full {
    width: 100%;
    height: 100%;
}

.ridge-is-hidden {
    display: none;
}

.ridge-element:has(.ridge-overlay) {
  position: relative;
}
.ridge-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ridge-webstart-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
    max-width: 80%;
    animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.status-Loading {
    background: linear-gradient(90deg,#2e32380d 25%,#2e323817 44%,#2e32380d 88%);
    background-size: 400% 100%;
    animation: skeleton-loading 3s ease infinite;
    animation-fill-mode: forwards;
}


.status-not-found, .status-render-error, .status-Circular, .status-Page-not-found {
    position: relative;
    font-size: 9px;
    background-color: rgba(253, 185, 165, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    overflow: hidden;
}

.status-not-found::before, .status-Circular::before, .status-Page-not-found::before {  
    content: "内容未找到";  
    position: absolute;  
    padding-left: 26px;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    font-size: 14px;  
    z-index: -1;  
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23e86868' d='M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.493 2 11.953 2M13 17h-2v-2h2zm0-4h-2V7h2z'/%3E%3C/svg%3E");
    pointer-events: none; /* 防止背景文字影响鼠标事件 */  
}  

.status-Circular::before {
    content: "循环渲染异常"; 
}
.status-Page-not-found::before {
    content: "页面未找到";  
}

.ridge-composite:not(.is-edit) .is-store {
    display: none;
}
@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}