@keyframes concentratedAnimation {
    from {
      offset-distance: 0%;
    }
  
    to {
      offset-distance: 100%;
    }
  }
  @keyframes dispersionAnimation {
    from {
      offset-distance: 100%;
    }
  
    to {
      offset-distance: 0%;
    }
  }


.flight-rect {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 100%;
  /* animation: spanAnimation 3s cubic-bezier(0.3, 0.27, 0.07, 1.64) infinite; */
  box-shadow: rgba(255,255,255,1) 0 0 20px 2px;
}