.break-down-item-detail {
    .basic {
        display: flex;
        padding: 5px 50px 20px 20px;
        color: #fff;
        justify-content: space-between;
        >div {
        }
    }
}

.rule-page {
    overflow-y: auto!important;
    .action-bar {
        justify-items:end;
        display: flex;
        border-bottom: 1px solid rgba(164,208,249,0.1);
        margin-bottom: 12px;
        .buttons {
            display: flex;
            gap: 12px;
            margin-left: auto;
        }
    }
}


.rule-container {
    display: flex;
    gap: 12px;
    .sx-section-box {
        flex: 1;
    }

    .rule-weight {
        display: flex;
        align-items: center;
        margin-right: 24px;
        .label {
            font-size: 14px;
            color: #FFFFFF;
        }
        .value {
            font-family: YouSheBiaoTiHei;
            font-size: 24px;
            color: #00F0FF;
        }
    }

    .rule-content {
        .line {
            border-top: 1px solid rgba(255,255,255,0.1);
            margin: 0 12px;
        }
        .content {
            min-height: 200px;
            padding: 0 12px;
            font-size: 12px;
            line-height: 24px;
            color: #fff;
        }
        .sub-title {
            font-size: 18px;
            border-left: 4px solid #00F0FF;
            padding-left: 24px;
            margin: 12px;
            color: #FFFFFF;
        }
    }
}