@import '../base_color.scss';
.No_match{
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $fontColor;
  h2{
    color: $fontColor;
  }
}