.drop-shadow { 
  border-radius: var(--semi-border-radius-medium);
  border: 2px dashed var(--semi-color-primary);
  background-color: rgba(255, 255, 255, .1);
  color: var(--semi-color-primary-hover);
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  font-size: 12px;
  opacity: .85; */
}

.full-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  font-size: 12px;
  opacity: .85;
}

.full-shadow .drop-tag {
  position: absolute;
  background-color: var(--semi-color-primary-hover);
  color: var(--semi-color-primary-light-default);
  border-radius: 0 0 0 3px;
  right: 0;
  top: 0;
  padding: 5px;
}

/* 默认光标 */
.cursor-default {
  cursor: default;
}

/* 指针光标 */
.cursor-pointer {
cursor: pointer;
}

/* 文本光标 */
.cursor-text {
cursor: text;
}

/* 等待光标 */
.cursor-wait {
cursor: wait;
}

/* 帮助光标 */
.cursor-help {
cursor: help;
}

/* 移动光标 */
.cursor-move {
cursor: move;
}

/* 禁止光标 */
.cursor-not-allowed {
cursor: not-allowed;
}

/* 缩放光标 */
.cursor-zoom-in {
cursor: zoom-in;
}

.cursor-zoom-out {
cursor: zoom-out;
}

/* 十字光标 */
.cursor-crosshair {
cursor: crosshair;
}

/* Block */
.vis-hidden {
  visibility:hidden;
}
.vis-visible {
  visibility:visible;
}
.vis-visible-im {
  visibility:visible!important;
}
.vis-hidden-im {
  visibility:hidden!important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-0-im {
  opacity: 0!important;
}

.ridge-is-hoverable .hidden-to-visible {
  visibility: hidden;
}

.ridge-is-hoverable:HOVER .hidden-to-visible {
  visibility: visible;
}



[class~="parent"] span {
  background-color: yellow;
}

.opacity-1 {
  opacity: 1;
}

.opacity-1-im {
  opacity: 1!important;
}


.horizontal-tb {
  writing-mode: horizontal-tb;
}
.vertical-rl {
  writing-mode: vertical-rl;
}
.vertical-lr {
  writing-mode: vertical-lr;
}