body, body[theme-mode="dark"] .semi-always-light {
--semi-black: 0,0,0;
--semi-red-0: 255,245,240;
--semi-red-1: 255,227,215;
--semi-red-2: 255,197,176;
--semi-red-3: 255,163,136;
--semi-red-4: 255,127,97;
--semi-red-5: 255,89,57;
--semi-red-6: 219,65,42;
--semi-red-7: 184,45,30;
--semi-red-8: 148,28,20;
--semi-red-9: 112,14,12;
--semi-white: 255,255,255;
--semi-blue-0: 237,247,255;
--semi-blue-1: 209,233,255;
--semi-blue-2: 164,210,255;
--semi-blue-3: 118,186,255;
--semi-blue-4: 73,160,255;
--semi-blue-5: 27,132,255;
--semi-blue-6: 17,107,219;
--semi-blue-7: 8,83,184;
--semi-blue-8: 2,62,148;
--semi-blue-9: 0,44,112;
--semi-cyan-0: 233,249,249;
--semi-cyan-1: 201,241,244;
--semi-cyan-2: 152,227,233;
--semi-cyan-3: 106,211,221;
--semi-cyan-4: 64,195,210;
--semi-cyan-5: 26,178,199;
--semi-cyan-6: 20,146,166;
--semi-cyan-7: 15,114,133;
--semi-cyan-8: 10,84,100;
--semi-cyan-9: 6,55,66;
--semi-grey-0: 249,249,249;
--semi-grey-1: 230,234,231;
--semi-grey-2: 198,205,200;
--semi-grey-3: 167,176,169;
--semi-grey-4: 136,146,139;
--semi-grey-5: 107,117,110;
--semi-grey-6: 88,98,91;
--semi-grey-7: 70,78,73;
--semi-grey-8: 52,59,54;
--semi-grey-9: 34,39,36;
--semi-lime-0: 244,252,235;
--semi-lime-1: 230,250,205;
--semi-lime-2: 209,244,157;
--semi-lime-3: 191,239,111;
--semi-lime-4: 177,233,66;
--semi-lime-5: 166,228,24;
--semi-lime-6: 135,190,18;
--semi-lime-7: 105,152,13;
--semi-lime-8: 77,114,9;
--semi-lime-9: 50,76,5;
--semi-pink-0: 255,240,242;
--semi-pink-1: 255,215,220;
--semi-pink-2: 255,175,188;
--semi-pink-3: 254,135,158;
--semi-pink-4: 254,96,131;
--semi-pink-5: 254,56,107;
--semi-pink-6: 218,42,93;
--semi-pink-7: 183,29,79;
--semi-pink-8: 147,19,65;
--semi-pink-9: 111,11,50;
--semi-teal-0: 230,248,246;
--semi-teal-1: 197,240,237;
--semi-teal-2: 145,225,220;
--semi-teal-3: 98,211,205;
--semi-teal-4: 56,196,192;
--semi-teal-5: 19,181,179;
--semi-teal-6: 14,150,151;
--semi-teal-7: 10,118,121;
--semi-teal-8: 7,87,91;
--semi-teal-9: 4,57,60;
--semi-amber-0: 255,254,239;
--semi-amber-1: 255,251,213;
--semi-amber-2: 255,245,171;
--semi-amber-3: 255,235,130;
--semi-amber-4: 255,223,88;
--semi-amber-5: 255,208,46;
--semi-amber-6: 213,164,36;
--semi-amber-7: 170,124,27;
--semi-amber-8: 128,87,19;
--semi-amber-9: 85,54,12;
--semi-brand-0: 241,250,243;
--semi-brand-1: 218,244,224;
--semi-brand-2: 184,233,195;
--semi-brand-3: 152,223,168;
--semi-brand-4: 122,212,145;
--semi-brand-5: 95,201,123;
--semi-brand-6: 77,168,103;
--semi-brand-7: 61,134,82;
--semi-brand-8: 44,101,62;
--semi-brand-9: 29,67,42;
--semi-green-0: 237,248,238;
--semi-green-1: 210,241,213;
--semi-green-2: 168,227,175;
--semi-green-3: 130,214,141;
--semi-green-4: 96,200,110;
--semi-green-5: 65,186,84;
--semi-green-6: 53,155,70;
--semi-green-7: 41,124,57;
--semi-green-8: 30,93,43;
--semi-green-9: 19,62,29;
--semi-indigo-0: 238,240,249;
--semi-indigo-1: 212,218,244;
--semi-indigo-2: 172,182,232;
--semi-indigo-3: 134,147,221;
--semi-indigo-4: 100,115,209;
--semi-indigo-5: 69,84,198;
--semi-indigo-6: 57,69,178;
--semi-indigo-7: 45,55,157;
--semi-indigo-8: 35,42,137;
--semi-indigo-9: 27,31,116;
--semi-orange-0: 255,250,237;
--semi-orange-1: 255,242,209;
--semi-orange-2: 255,226,164;
--semi-orange-3: 255,207,118;
--semi-orange-4: 255,185,73;
--semi-orange-5: 255,160,27;
--semi-orange-6: 213,123,20;
--semi-orange-7: 170,90,15;
--semi-orange-8: 128,61,10;
--semi-orange-9: 85,36,6;
--semi-purple-0: 249,236,248;
--semi-purple-1: 242,209,241;
--semi-purple-2: 230,166,229;
--semi-purple-3: 215,127,217;
--semi-purple-4: 198,91,205;
--semi-purple-5: 180,59,192;
--semi-purple-6: 156,48,172;
--semi-purple-7: 133,37,151;
--semi-purple-8: 111,28,131;
--semi-purple-9: 90,21,110;
--semi-violet-0: 246,240,251;
--semi-violet-1: 232,215,247;
--semi-violet-2: 208,177,240;
--semi-violet-3: 183,142,232;
--semi-violet-4: 157,108,225;
--semi-violet-5: 131,76,217;
--semi-violet-6: 102,58,181;
--semi-violet-7: 76,42,146;
--semi-violet-8: 52,29,110;
--semi-violet-9: 32,17,74;
--semi-yellow-0: 255,254,237;
--semi-yellow-1: 255,252,209;
--semi-yellow-2: 255,247,164;
--semi-yellow-3: 255,238,118;
--semi-yellow-4: 255,226,73;
--semi-yellow-5: 255,211,27;
--semi-yellow-6: 213,179,20;
--semi-yellow-7: 170,145,15;
--semi-yellow-8: 128,111,10;
--semi-yellow-9: 85,75,6;
--semi-light-blue-0: 237,249,255;
--semi-light-blue-1: 209,240,255;
--semi-light-blue-2: 164,223,255;
--semi-light-blue-3: 118,204,255;
--semi-light-blue-4: 73,184,255;
--semi-light-blue-5: 27,163,255;
--semi-light-blue-6: 17,134,219;
--semi-light-blue-7: 8,107,184;
--semi-light-blue-8: 2,82,148;
--semi-light-blue-9: 0,59,112;
--semi-light-green-0: 245,249,238;
--semi-light-green-1: 230,244,212;
--semi-light-green-2: 205,233,172;
--semi-light-green-3: 180,221,135;
--semi-light-green-4: 156,210,101;
--semi-light-green-5: 133,199,70;
--semi-light-green-6: 108,166,57;
--semi-light-green-7: 84,133,44;
--semi-light-green-8: 62,100,32;
--semi-light-green-9: 40,66,21;


}
body[theme-mode="dark"], body .semi-always-dark {
--semi-black: 0, 0, 0;
--semi-red-0: 112,14,12;
--semi-red-1: 148,28,20;
--semi-red-2: 184,45,30;
--semi-red-3: 219,65,42;
--semi-red-4: 255,89,57;
--semi-red-5: 255,127,97;
--semi-red-6: 255,163,136;
--semi-red-7: 255,197,176;
--semi-red-8: 255,227,215;
--semi-red-9: 255,245,240;
--semi-white: 255, 255, 255;
--semi-blue-0: 0,44,112;
--semi-blue-1: 2,62,148;
--semi-blue-2: 8,83,184;
--semi-blue-3: 17,107,219;
--semi-blue-4: 27,132,255;
--semi-blue-5: 73,160,255;
--semi-blue-6: 118,186,255;
--semi-blue-7: 164,210,255;
--semi-blue-8: 209,233,255;
--semi-blue-9: 237,247,255;
--semi-cyan-0: 6,55,66;
--semi-cyan-1: 10,84,100;
--semi-cyan-2: 15,114,133;
--semi-cyan-3: 20,146,166;
--semi-cyan-4: 26,178,199;
--semi-cyan-5: 64,195,210;
--semi-cyan-6: 106,211,221;
--semi-cyan-7: 152,227,233;
--semi-cyan-8: 201,241,244;
--semi-cyan-9: 233,249,249;
--semi-grey-0: 34,39,36;
--semi-grey-1: 52,59,54;
--semi-grey-2: 70,78,73;
--semi-grey-3: 88,98,91;
--semi-grey-4: 107,117,110;
--semi-grey-5: 136,146,139;
--semi-grey-6: 167,176,169;
--semi-grey-7: 198,205,200;
--semi-grey-8: 230,234,231;
--semi-grey-9: 249,249,249;
--semi-lime-0: 50,76,5;
--semi-lime-1: 77,114,9;
--semi-lime-2: 105,152,13;
--semi-lime-3: 135,190,18;
--semi-lime-4: 166,228,24;
--semi-lime-5: 177,233,66;
--semi-lime-6: 191,239,111;
--semi-lime-7: 209,244,157;
--semi-lime-8: 230,250,205;
--semi-lime-9: 244,252,235;
--semi-pink-0: 111,11,50;
--semi-pink-1: 147,19,65;
--semi-pink-2: 183,29,79;
--semi-pink-3: 218,42,93;
--semi-pink-4: 254,56,107;
--semi-pink-5: 254,96,131;
--semi-pink-6: 254,135,158;
--semi-pink-7: 255,175,188;
--semi-pink-8: 255,215,220;
--semi-pink-9: 255,240,242;
--semi-teal-0: 4,57,60;
--semi-teal-1: 7,87,91;
--semi-teal-2: 10,118,121;
--semi-teal-3: 14,150,151;
--semi-teal-4: 19,181,179;
--semi-teal-5: 56,196,192;
--semi-teal-6: 98,211,205;
--semi-teal-7: 145,225,220;
--semi-teal-8: 197,240,237;
--semi-teal-9: 230,248,246;
--semi-amber-0: 85,54,12;
--semi-amber-1: 128,87,19;
--semi-amber-2: 170,124,27;
--semi-amber-3: 213,164,36;
--semi-amber-4: 255,208,46;
--semi-amber-5: 255,223,88;
--semi-amber-6: 255,235,130;
--semi-amber-7: 255,245,171;
--semi-amber-8: 255,251,213;
--semi-amber-9: 255,254,239;
--semi-brand-0: 29,67,42;
--semi-brand-1: 44,101,62;
--semi-brand-2: 61,134,82;
--semi-brand-3: 77,168,103;
--semi-brand-4: 95,201,123;
--semi-brand-5: 122,212,145;
--semi-brand-6: 152,223,168;
--semi-brand-7: 184,233,195;
--semi-brand-8: 218,244,224;
--semi-brand-9: 241,250,243;
--semi-green-0: 19,62,29;
--semi-green-1: 30,93,43;
--semi-green-2: 41,124,57;
--semi-green-3: 53,155,70;
--semi-green-4: 65,186,84;
--semi-green-5: 96,200,110;
--semi-green-6: 130,214,141;
--semi-green-7: 168,227,175;
--semi-green-8: 210,241,213;
--semi-green-9: 237,248,238;
--semi-indigo-0: 27,31,116;
--semi-indigo-1: 35,42,137;
--semi-indigo-2: 45,55,157;
--semi-indigo-3: 57,69,178;
--semi-indigo-4: 69,84,198;
--semi-indigo-5: 100,115,209;
--semi-indigo-6: 134,147,221;
--semi-indigo-7: 172,182,232;
--semi-indigo-8: 212,218,244;
--semi-indigo-9: 238,240,249;
--semi-orange-0: 85,36,6;
--semi-orange-1: 128,61,10;
--semi-orange-2: 170,90,15;
--semi-orange-3: 213,123,20;
--semi-orange-4: 255,160,27;
--semi-orange-5: 255,185,73;
--semi-orange-6: 255,207,118;
--semi-orange-7: 255,226,164;
--semi-orange-8: 255,242,209;
--semi-orange-9: 255,250,237;
--semi-purple-0: 90,21,110;
--semi-purple-1: 111,28,131;
--semi-purple-2: 133,37,151;
--semi-purple-3: 156,48,172;
--semi-purple-4: 180,59,192;
--semi-purple-5: 198,91,205;
--semi-purple-6: 215,127,217;
--semi-purple-7: 230,166,229;
--semi-purple-8: 242,209,241;
--semi-purple-9: 249,236,248;
--semi-violet-0: 32,17,74;
--semi-violet-1: 52,29,110;
--semi-violet-2: 76,42,146;
--semi-violet-3: 102,58,181;
--semi-violet-4: 131,76,217;
--semi-violet-5: 157,108,225;
--semi-violet-6: 183,142,232;
--semi-violet-7: 208,177,240;
--semi-violet-8: 232,215,247;
--semi-violet-9: 246,240,251;
--semi-yellow-0: 85,75,6;
--semi-yellow-1: 128,111,10;
--semi-yellow-2: 170,145,15;
--semi-yellow-3: 213,179,20;
--semi-yellow-4: 255,211,27;
--semi-yellow-5: 255,226,73;
--semi-yellow-6: 255,238,118;
--semi-yellow-7: 255,247,164;
--semi-yellow-8: 255,252,209;
--semi-yellow-9: 255,254,237;
--semi-light-blue-0: 0,59,112;
--semi-light-blue-1: 2,82,148;
--semi-light-blue-2: 8,107,184;
--semi-light-blue-3: 17,134,219;
--semi-light-blue-4: 27,163,255;
--semi-light-blue-5: 73,184,255;
--semi-light-blue-6: 118,204,255;
--semi-light-blue-7: 164,223,255;
--semi-light-blue-8: 209,240,255;
--semi-light-blue-9: 237,249,255;
--semi-light-green-0: 40,66,21;
--semi-light-green-1: 62,100,32;
--semi-light-green-2: 84,133,44;
--semi-light-green-3: 108,166,57;
--semi-light-green-4: 133,199,70;
--semi-light-green-5: 156,210,101;
--semi-light-green-6: 180,221,135;
--semi-light-green-7: 205,233,172;
--semi-light-green-8: 230,244,212;
--semi-light-green-9: 245,249,238;


}
