.m-page-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.m-page-container .sub-page {
    width: 100%;    
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0
}
