.report {
    background: #001732;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    .report-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .action-bar {
        display: flex;
        color: #FFFFFF;
        display: flex;
        gap: 6px;
        align-items: center;
    }
}
